toDo.txt
logger_settings.pyc
copy2/xdd/xy.txt
copy2/xd.txt
copy/dd.txt
.vscode/settings.json
__pycache__/
*.pyc
.vscode/launch.json
.idea/
log/message.log
.qt_for_python/
.idea/
Temp/
Downloads/
commands.txt
compiling_config.json
version.txt