toDo.txt
logger_settings.pyc
copy2/xdd/xy.txt
copy2/xd.txt
copy/dd.txt
.vscode/settings.json
__pycache__/logger_settings.cpython-39.pyc
*.pyc
.vscode/launch.json
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/DriveMyFiles.iml
log/message.log
.qt_for_python/
.idea/
Temp/
Downloads/